<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{.Artist.Name}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="container">
    <main class="main-content artist-page">
    </main>
        <a href="/" class="back-link">← Retour</a>

        <section class="artist-header">
            <img class="artist-detail-img" src="{{.Artist.Image}}" alt="{{.Artist.Name}}">
            <div class="artist-header-info boxed-info">
                <h1>{{.Artist.Name}}</h1>
                <p><strong>Création :</strong> {{.Artist.CreationDate}}</p> 
                <p><strong>Premier album :</strong> {{.Artist.FirstAlbum}}</p>
            </div>
        </section>

        <section class="relations-section">
            <h2>Membres</h2>
            <div class="relations">
                {{range .Artist.Members}}
                <div class="relation-card">
                    <h3>{{.}}</h3>
                </div>
                {{end}}
            </div>
        </section>

        <section class="relations-section">
            <h2>Concerts</h2>
            <div class="relations">
                {{range .RelationItems}}
                <div class="relation-card">
                    <h3>{{.Place}}</h3>
                    <ul>
                        {{range .Dates}}
                        <li>{{.}}</li>
                        {{end}}
                    </ul>
                </div>
                {{end}}
            </div>
        </section>
    </main>
</div>
</body>
</html>
